# Misc related to npm and webpack
.DS_Store
node_modules
/dist
env
venv
/venv
media

*.__pycache__*

## Webpack output
**/stats.json
webpack-stats.json
media

# local env files
.env.local
.env.*.local
.venv.local
.venv.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
