{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OSU Online Capstone</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but our application doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- Content from VueJS app is dynamically rendered here -->
    {% render_bundle 'app' %}
  </body>
</html>
